﻿@{
    ViewBag.Title = "Index";
}

<h2>Demo</h2>
<div>
    @using (Html.BeginForm("Index", "Demo", FormMethod.Post))
    {
        <label>Enter User Name</label>
        <input type="text" name="txtName" placeholder="Guest"
               class="form-control" />
            <br />
            <label>Select Language:</label>
            <select name="ddlLanguage" class="form-control">
                <option value="en">English</option>
                <option value="fr">French</option>
            </select>
            <br />
            <input type="submit" name="Submit" class="form-control" />
    }
</div>  